body {
    margin: 25px;
    overflow-x: hidden;
}

div {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

svg {
    height: 200px;
}

div.tooltip-node {
    position: absolute;
    text-align: left;
    padding: 5px;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1rem;
    width: auto;
}
